
body {
    margin: 0px;
    padding: 0px;
    font-family: 'PT Sans';
    font-size: 20px;
    letter-spacing: 0.5px;
    background-image: url(images/background.png);
}

main {
    margin: 0px auto;
    padding-bottom: 20px;
    width: 80%;
    height: 100%;
    background-color: white;
}

header {
    margin-bottom: 30px;
    padding-top: 30px;
    text-align: center;
    font-family: 'Open Sans';
}

h1 {
    padding: 0px;
    margin: 0px;
    letter-spacing: 2px;
}

a {
    text-decoration: none;
}

p {
    margin: 0px;
}

.icon {
    vertical-align: middle;
    text-decoration: none;
}

.added-msg {
    margin: 10px auto;
    padding: 5px;    
    width: 500px;
    text-align: center;
    border-radius: 5px;
    background-color: rgba(2, 231, 2, 0.5);
}

.added-msg__text {
    padding: 0px;
    margin: 0px;
}

.error-msg {
    margin: 10px auto;
    padding: 5px;    
    width: 500px;
    text-align: center;
    border-radius: 5px;
    background-color: rgba(255, 60, 60, 0.5);
}

.warning-msg {
    margin: 10px auto;
    padding: 5px;
    width: 500px;
    text-align: center;
    border-radius: 5px;
    background-color: rgba(236, 236, 2, 0.5);
}

.tips-msg {
    margin: 30px;
    text-align: center;
    font-style: italic;
}

.tips-msg__text {
    margin: 20px;
}

.user-input {
    margin: 0px auto;
    width: 850px;
    display: flex; 
    letter-spacing: inherit;
}

.user-input__new-task {
    margin: 0px auto;
    padding: 10px;
    font-size: inherit;
    width: 540px;
    -webkit-appearance: none;
    border: 1px solid #000000;
    box-shadow: 0.5px 0.5px 0.5px #ddd;
}

.user-input__username {
    margin: 0px auto;
    padding: 10px;
    width: 200px;
    font-size: inherit;
    -webkit-appearance: none;
    border: 1px solid #000000;
    box-shadow: 0.5px 0.5px 0.5px #ddd;
}

.user-input__add-task {
    width: 50px;
}

.tasks {
    margin: 20px auto;
    width: 90%;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.tasks__container {
    margin: 20px auto;
    padding-bottom: 60px;
    border: 1px solid #767676;
    width: 800px;
    position: relative;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0.5px 0.5px 1px #000000;
    border-style: inset;
}

.tasks__content {
    margin: 5px;
    padding: 10px;
    border: 1px solid #ddd;
    display: flex;
    justify-content: space-between;
    text-align: left;
}

.tasks__content:hover {
    background-color: #9dbdc7;
}

.title-container {
    display: flex;
    flex-grow: 1;
    text-align: left;
}

.title-row__text {
    font-weight: bold;
}

.manage-task {
    margin-left: 5px;
    flex-shrink: 0;
}

.title-row__change-title {
    margin: 5px;
    padding: 5px;
    width: 600px;
    font-size: inherit;  
    letter-spacing: inherit;
    border: 1px solid #ddd;
    background-color: transparent;
}

.bottom-container {
    display: flex;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.order-content {
    margin: 5px;
    padding: 5px;
}

.clear-list {
    margin: 10px;
    margin-left: auto;
    margin-right: 20px;
}

footer {
    margin: 0px auto;
    text-align: center;
    width: 80%;
    background-color: white;
    padding-bottom: 20px;
}

.footer__text {
    font-weight: bold;
    font-family: 'Open Sans';
    color: black;
    vertical-align: middle;
}

.footer__logo {
    margin: 0px 5px;
    width: 20px ;
    vertical-align: middle;
}

.footer__link:hover {
   color: black;
   border-bottom: 1.5px solid black;
   
}