
body {
    font-family: 'PT Sans';
    background-image: url(images/background.png);
    font-size: 20px;
}

main {
    margin: 0px auto;
    margin-top: 30px;
    width: 80%;
    background-color: white;
    padding-bottom: 20px;
    border-radius: 5px;
}

.added-msg {
    margin: 10px auto;
    padding: 5px;    
    width: 500px;
    text-align: center;
    border-radius: 5px;
    background-color: rgba(2, 231, 2, 0.5);
}

.added-msg__text {
    padding: 0px;
    margin: 0px;
}

.icon--margin {
    vertical-align: middle;
    margin: 5px;
}

.error-msg {
    margin: 20px auto;
    padding: 5px;    
    width: 500px;
    text-align: center;
    border-radius: 5px;
    background-color: rgba(255, 60, 60, 0.5);
}

.error-msg__text {
    margin: 0px;
}
.warning-msg {
    margin: 20px auto;
    padding: 5px;
    width: 500px;
    text-align: center;
    border-radius: 5px;
    background-color: rgba(236, 236, 2, 0.5);
}

.warning-msg__text {
    margin: 0px;
}

header {
    margin: 0px auto;
    margin-top: 30px;
    text-align: center;
    font-family: 'Open Sans';
    padding-top: 30px;
}

.tips-msg {
    text-align: center;
    font-style: italic;
    margin: 15px;
}

.user-input {
    margin: 0px auto;
    width: 850px;
    display: flex;
    -webkit-appearance: none;
    text-align: center;    
}

.user-input__new-task {
    margin: 0px auto;
    padding: 10px;
    width: 540px;
    font-size: 20px;
    -webkit-appearance: none;
}

.user-input__username {
    margin: 0px auto;
    padding: 10px;
    width: 200px;
    font-size: 20px;
    -webkit-appearance: none;
}

.user-input__add-task {
    width: 50px;
    -webkit-appearance: none;
}

.tasks {
    margin: 20px auto;
    width: 90%;
    text-align: center;
    display: flex;
    justify-content: space-around;
}

.tasks__header,
.finished__header {
    text-decoration: underline;
}

.title-row__text {
    font-weight: bold;
}

.tasks__container {
    margin: 0px auto;
    
    padding: 0 10px 40px 10px;
    border: 1px solid #767676;
    width: 400px;
    position: relative;
    flex-direction: column;
    justify-content: space-between;
}

.tasks__content {
    display: flex;
    padding: 10px;
    justify-content: space-between;
    text-align: left;
}

.title-container {
    display: flex;
    flex-grow: 1;
    text-align: left;
}

.manage-task {
    flex-shrink: 0;
    margin: 5px;
}

a {
    text-decoration: none;
}

.checked {
    vertical-align: middle;
    margin: 5px;
    text-decoration: none;
}

.order-content {
    text-align: left;
    margin: 5px;
    padding: 5px;
}

footer {
    margin: 0px auto;
    text-align: center;
    width: 80%;
    background-color: white;
    padding-bottom: 15px;
    border-radius: 5px;
    margin-bottom: 25px;
}

.github-link {
    font-size: 20px;
    vertical-align: middle;
    font-family: 'Open Sans';
}

.github-logo {
    width: 70px ;
    display: inline-block;
    vertical-align: middle;
}

.icon {
    vertical-align: middle;
    text-decoration: none;
}

.bottom-container {
    display: flex;
    justify-content: space-between;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.clear-list {
    margin: 10px;
    margin-left: auto;
    margin-right: 20px;
    text-align: right;
}

.title-row__change-title {
    font-size: inherit;
    padding: 5px;
    margin: 5px;
}