
body {
    font-family: 'PT Sans';
    font-size: 20px;
    background-image: url(images/background.png);
}

main {
    margin: 0px auto;
    padding-bottom: 20px;
    width: 80%;
    background-color: white;
}

header {
    margin: 20px 0px 10px 0px;
    padding: 10px 0px;
    text-align: center;
    font-family: 'Open Sans';
}

h1 {
    padding: 0px;
    margin: 0px;
}

a {
    text-decoration: none;
}

.icon {
    vertical-align: middle;
    text-decoration: none;
}

.added-msg {
    margin: 10px auto;
    padding: 5px;    
    width: 500px;
    text-align: center;
    border-radius: 5px;
    background-color: rgba(2, 231, 2, 0.5);
}

.added-msg__text {
    padding: 0px;
    margin: 0px;
}

.error-msg {
    margin: 10px auto;
    padding: 5px;    
    width: 500px;
    text-align: center;
    border-radius: 5px;
    background-color: rgba(255, 60, 60, 0.5);
}

.error-msg__text {
    margin: 0px;
}

.icon--margin {
    margin: 5px;
    vertical-align: middle;
}

.warning-msg {
    margin: 10px auto;
    padding: 5px;
    width: 500px;
    text-align: center;
    border-radius: 5px;
    background-color: rgba(236, 236, 2, 0.5);
}

.warning-__text {
    margin: 0px;
}

.tips-msg {
    margin: 15px;
    text-align: center;
    font-style: italic;
}

.user-input {
    margin: 0px auto;
    width: 850px;
    display: flex;  
}

.user-input__new-task {
    margin: 0px auto;
    padding: 10px;
    font-size: inherit;
    width: 540px;
    -webkit-appearance: none;
}

.user-input__username {
    margin: 0px auto;
    padding: 10px;
    width: 200px;
    font-size: inherit;
    -webkit-appearance: none;
}

.user-input__add-task {
    width: 50px;
}

.tasks {
    margin: 20px auto;
    width: 90%;
    text-align: center;
    display: flex;
}

.tasks__header {
    text-decoration: underline;
}

.tasks__container {
    margin: 0px auto;
    padding: 0 10px 60px 10px;
    border: 1px solid #767676;
    width: 425px;
    position: relative;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 1px 1px 1px #000000;
}

.tasks__content {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    text-align: left;
}

.title-container {
    display: flex;
    flex-grow: 1;
    text-align: left;
}

.title-row__text {
    font-weight: bold;
}

.manage-task {
    margin-left: 5px;
    flex-shrink: 0;
}

.title-row__change-title {
    margin: 5px;
    padding: 5px;
    font-size: inherit;  
}

.bottom-container {
    display: flex;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.order-content {
    margin: 5px;
    padding: 5px;
}

.clear-list {
    margin: 10px;
    margin-left: auto;
    margin-right: 20px;
}

footer {
    margin: 0px auto;
    margin-bottom: 25px;
    text-align: center;
    width: 80%;
    background-color: white;
    padding-bottom: 15px;
}

.footer__text {
    font-weight: bold;
    font-family: 'Open Sans';
    color: black;
    vertical-align: middle;
}

.footer__logo {
    margin: 0px 5px;
    width: 20px ;
    vertical-align: middle;
}

.footer__link:hover {
   color: black;
   border-bottom: 2px solid black;
}